/*logo @1024*/
#layout-search {
	background: url("images/logo.png") no-repeat scroll left top transparent;
}

@media screen and (max-width: 950px) {
	#anidb:not(.nodropdownmenu) #layout-search {
		background: url("images/logo-wide.png") no-repeat scroll left top transparent;
	}

	#anidb.nodropdownmenu #layout-search {
		background: url("images/logo-small.png") no-repeat scroll left top transparent;
	}
}

@media screen and (max-width: 800px) {
	#anidb:not(.nodropdownmenu) #layout-search {
		background: url("images/logo.png") no-repeat scroll center top transparent;
	}

	#anidb.nodropdownmenu #layout-search {
		background: none;
	}
}

@media screen and (max-width: 510px) {
	#anidb:not(.nodropdownmenu) #layout-search {
		background: url("images/logo-small.png") no-repeat scroll center top transparent;
	}
}

/*logo @ 1280*/
@media screen and (min-width: 1235px) {
	#layout-search {
		background: url("images/logo-wide.png") no-repeat scroll left top transparent;
	}
}

/*logo @ 1650*/
@media screen and (min-width: 1575px) {
	#layout-search {
		background: url("images/logo-wider.png") no-repeat scroll left top transparent;
	}
}

/*logo @ 1920*/
@media screen and (min-width: 1860px) {
	#layout-search {
		background: url("images/logo-widest.png") no-repeat scroll left top transparent;
	}
}
