
table,
#layout-content,
#layout-hint,
#layout-main>h1,
#layout-main div.addtagentityrel_all div.suggestions>span.focus,
#layout-main div.addtagentityrel_all div.suggestions>span:hover,
#layout-main div.cmt_entries div.profile,
#layout-main div.g_timedentry h4,
#layout-main div.info div.extra div table,
#layout-main div.tabbed_pane ul.tabs li,
#layout-main div.tabbed_pane_cfg div.body,
#layout-main div.tabbed_pane_cfg ul.tabs li,
#layout-main div.userpage_all div.g_menu ul li,
#layout-menu>li ul,
#layout-menu li.sub-menu,
#layout-menu li.sub-menu li+li,
#layout-tabs ul.main-tabs>li {
    border: 0
}

#layout-search {
    background: url("https://imagizer.imageshack.com/v2/240x33q70/c/924/o70sxJ.png") no-repeat scroll left top transparent
}

@media screen and (max-width: 950px) {
    #polymath(.nodropdownmenu) #layout-search {
        background: url("https://imagizer.imageshack.com/v2/240x22q70/c/922/xMYAgb.png") no-repeat scroll left top transparent
    }

    #anidb.nodropdownmenu #layout-search {
        background: url("https://imagizer.imageshack.com/v2/240x53q70/c/924/5olBus.png") no-repeat scroll left top transparent
    }
}

@media screen and (max-width: 800px) {
    #polymath(.nodropdownmenu) #layout-search {
        background: url("https://imagizer.imageshack.com/v2/240x33q70/c/924/o70sxJ.png") no-repeat scroll center top transparent
    }

    #anidb.nodropdownmenu #layout-search {
        background: none
    }
}

@media screen and (max-width: 510px) {
    #polymath(.nodropdownmenu) #layout-search {
        background: url("https://imagizer.imageshack.com/v2/240x53q70/c/924/5olBus.png") no-repeat scroll center top transparent
    }
}

@media screen and (min-width: 1235px) {
    #layout-search {
        background: url("https://imagizer.imageshack.com/v2/240x22q70/c/922/xMYAgb.png") no-repeat scroll left top transparent
    }
}

@media screen and (min-width: 1575px) {
    #layout-search {
        background: url("https://imagizer.imageshack.com/v2/240x22q70/c/922/xMYAgb.png") no-repeat scroll left top transparent
    }
}

@media screen and (min-width: 1860px) {
    #layout-search {
        background: url("https://imagizer.imageshack.com/v2/240x15q70/c/923/FaqVhG.png") no-repeat scroll left top transparent
    }
}

#layout-main ul.g_list {
    min-height: 2.2em
}

#layout-main div.forum div.topic_actions {
    min-height: 23px
}

#layout-search ul.quicksearch {
    margin: 0 0 0 2px
}

#layout-search ul.quicksearch .g_bubble.stripe {
    margin: 0 !important
}

#layout-menu li.sub-menu span.tab {
    display: block
}

#layout-menu {
    margin-left: 0;
    width: 11.5em
}

#layout-menu li.sub-menu {
    margin-bottom: 0
}

#layout-menu li.sub-menu span.tab {
    padding: .3em .6em
}

#layout-menu li.sub-menu ul {
    margin-right: .75em;
    padding-bottom: .25em;
    padding-top: .25em
}

#layout-menu li.sub-menu ul li a {
    display: inline-block;
    font-family: "Font Awesome 5 Pro", Arial, Helvetica, sans-serif !important;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 16px;
    margin: 0;
    font-size: 1.1rem;
    padding-left: .6em
}

#layout-menu li.sub-menu ul li.main a {
    margin-top: -133px
}

#layout-menu li.sub-menu ul li a::before {
    text-align: center;
    display: inline-block;
    width: 14px;
    content: " ";
    font-weight: 900;
    font-size: 1.2rem
}

html {
    color: #000
}

#layout-main div.showhidecontent button.toggle_visible,
#layout-menu li.sub-menu ul li#user-logout a,
#layout-menu li.sub-menu ul li#user-xauth button,
#layout-search div.search {
    background-image: none
}

.i_icon,
a,
a:active,
a:link,
a:visited,
h4 span.nolink a,
span.link,
th a,
#layout-main a.filter,
#layout-menu li.sub-menu ul li a::before {
    color: #0c4e86
}

.g_section>form>h2,
.g_section>h2,
input[type=date]:focus,
input[type=date]:hover,
input[type=email]:focus,
input[type=email]:hover,
input[type=password]:focus,
input[type=password]:hover,
input[type=text]:focus,
input[type=text]:hover,
input[type=url]:focus,
input[type=url]:hover,
select:focus,
select:hover,
textarea:focus,
textarea:hover,
#layout-search ul.quicksearch li+li {
    border-color: #999 !important
}

.g_bubble .name-colored,
.i_icon:hover,
a:hover,
span.link:hover,
#groupfilter .icons span.i_icon.f_selected,
#layout-main .g_account ul.tabs li.signup:hover a,
#layout-main div.addsimilaranime_all div.addsimilaranime_entries a.name-colored,
#layout-main div.cmt_entries a.username-colored,
#layout-main div.forum .g_bubble.infobox h3,
#layout-main div.forum a.topictitle:hover,
#layout-main div.forum a.username-colored,
#layout-menu li.sub-menu span.tab {
    color: #800
}

#layout-main div.tabbed_pane ul.tabs li {
    background-color: #d3d5d9
}

#layout-content {
    border-bottom-color: #7d7d7d;
    border-left-color: #9a9a9a;
    border-top-color: #9a9a9a
}

table,
#layout-main div.info div.extra div table {
    border-top-color: #ddd
}

span.test:hover,
#layout-main>h1,
#layout-main div.forum li.header div,
#layout-main div.g_timedentry h4,
#layout-main div.info div.extra div h2,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main div.search_all div.suggestions span:hover,
#layout-main div.showhidecontent button.toggle_visible:hover,
#layout-main tr.header th.sortable:hover:not(.sorter-false),
#layout-main tr.header th.sortable:hover:not(.sorter-false) a {
    color: #ddd
}

input.text,
input[type=date],
input[type=email],
input[type=password],
input[type=text],
input[type=url],
option,
select,
span.test,
table th,
textarea,
#layout-main .g_bubble.graph div.header,
#layout-main div.pagination span a,
#layout-main div.search_all div.suggestions,
#layout-main table tr.header,
#layout-main table tr.header a,
#layout-main th>a:active,
#layout-main th>a:link,
#layout-main th>a:visited,
#layout-main th>span.link,
#layout-main ul.g_list li a,
#layout-menu a:link,
#layout-menu a:visited,
#layout-menu li.sub-menu ul li#user-xname input,
#layout-menu li.sub-menu ul li#user-xpass input,
#layout-menu li.sub-menu ul li.user-xkeep label span,
#layout-search input,
#layout-search input.text,
#layout-search select,
#layout-tabs ul.main-tabs li a {
    color: #ccc
}

th .i_icon,
#layout-main>h1 a,
#layout-main div.g_timedentry h4 a,
#layout-main div.g_timedentry p.comment,
#layout-main div.g_timedentry p.comment a {
    color: #a2bfd7
}

#layout-main>h1 a:hover,
#layout-main div.g_timedentry h4 a:hover,
#layout-main div.g_timedentry p.comment a:hover,
#layout-main table tr th>a:hover,
#layout-menu li:hover>a {
    color: #fa5
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
span.test:hover,
#layout-main div.edit_actions>span>*:hover,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main div.search_all div.suggestions span:hover,
#layout-main div.showhidecontent button.toggle_visible:hover,
#layout-main tr.header th.sortable:hover:not(.sorter-false),
#layout-main tr.header th.sortable:hover:not(.sorter-false) a,
#layout-main ul.g_list li.g_odd.selected,
#layout-main ul.g_list li.g_odd:hover,
#layout-main ul.g_list li.selected,
#layout-main ul.g_list li.selected .i_icon,
#layout-main ul.g_list li:hover {
    background-color: #2d6bb8
}

.g_bubble,
.g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.tooltip>span.text.g_bubble,
div.g_odd,
li.g_odd,
span.g_odd,
tr.g_odd,
#layout-main div.addtagentityrel_all #tag-list div.g_odd,
#layout-main div.addtagentityrel_all div.suggestions>span.focus,
#layout-main div.addtagentityrel_all div.suggestions>span:hover,
#layout-main div.forum div.g_bubble.navbar,
#layout-main div.forum div.g_bubble.options-box,
#layout-main div.forum div.g_bubble.posting-box,
#layout-main div.forum div.g_bubble.search,
#layout-main div.forum div.g_bubble.submit-box,
#layout-main div.forum ul.topics li.g_odd.row,
#layout-main div.tabbed_pane ul.tabs li.selected,
#layout-main div.tabbed_pane ul.tabs li:hover {
    background-color: #bdbfc3
}

.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_odd,
.g_definitionlist .g_bubble .g_bubble,
.g_definitionlist .g_bubble .g_bubble .g_bubble .g_bubble,
.g_definitionlist .g_odd .g_bubble,
html,
#layout-main div.format-buttons input,
#layout-menu {
    background-color: #b1b3b5
}

.g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_bubble .g_bubble .g_odd,
.g_bubble .g_odd,
.g_odd .g_bubble,
body.nonav,
#layout-content,
#layout-main .g_account ul.tabs li,
#layout-main div.forum ul.topics li.row,
#layout-tabs ul.main-tabs li.selected,
#layout-tabs ul.main-tabs li:hover {
    background-color: #cfd1d4
}

.format-buttons select,
input.text,
input[type=date],
input[type=email],
input[type=password],
input[type=text],
input[type=url],
select,
span.test,
textarea,
th,
th a,
#layout-main .g_bubble.graph div.header,
#layout-main>h1,
#layout-main div.forum div.g_bubble.threads,
#layout-main div.g_timedentry h4,
#layout-main div.info div.extra div h2,
#layout-main div.pagination span a,
#layout-main div.search_all div.suggestions,
#layout-main div.showhidecontent button.toggle_visible,
#layout-main table tr.header,
#layout-menu li.sub-menu,
#layout-menu li.sub-menu ul,
#layout-search input,
#layout-search input.text,
#layout-search select,
#layout-tabs ul.main-tabs li {
    background-color: #34394d
}

#layout-main .g_account ul.tabs li.signup {
    background-color: #800
}

#layout-menu li.sub-menu ul li.alert a::before,
#menu-account li.alert a span::after,
#menu-account li.alert a span::before {
    color: #b32947 !important
}

#layout-main div.format-buttons .f_button {
    background-color: #bbb
}

#layout-main div.format-buttons .f_button.selected,
#layout-main div.format-buttons .f_button:hover {
    background-color: #ccc
}

input.text,
input[type=date],
input[type=email],
input[type=password],
input[type=text],
input[type=url],
select,
span.test,
textarea,
#layout-main .g_bubble.graph div.group_odd,
#layout-main .g_bubble.graph.eps div.g_odd,
#layout-main .g_filter div.settings input[type=text],
#layout-main .g_filter div.settings select,
#layout-main div.format-buttons .f_button,
#layout-main div.forum div.cmt_entries.history h4,
#layout-main div.forum div.g_bubble.navbar div.bottom,
#layout-main div.pagination span a,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-search input.text,
#layout-search select {
    border-color: #34394d
}

.g_bubble,
.g_image,
#layout-main div.addtagentityrel_all div.suggestions>span.focus,
#layout-main div.addtagentityrel_all div.suggestions>span:hover,
#layout-main div.cmt_entries div.profile,
#layout-main div.forum .g_bubble.infobox .row+.row,
#layout-main div.forum .g_bubble.infobox div.data p.subtitle,
#layout-main div.forum .g_bubble.infobox h3,
#layout-main div.forum div.quickreply textarea,
#layout-main div.forum div.signature {
    border-color: #9a9a9a #7d7d7d #7d7d7d #9a9a9a
}

.g_bubble.box:not(.small)>div.data div.name,
.g_bubble.stripe>div.data div.name,
#layout-main div.forum li.row+li.row,
#layout-main div.forum ul.topiclist div.row div,
#layout-main div.msg_all div.forum ul.topics div.check,
#layout-main div.tabbed_pane ul.tabs li,
#layout-main div.tag-column .tag-block+.tag-block,
#layout-menu li.sub-menu ul li#user-xname input,
#layout-menu li.sub-menu ul li#user-xpass input,
#layout-tabs ul.main-tabs li {
    border-color: #9a9a9a
}

#layout-main>h1,
#layout-main div.g_timedentry h4,
#layout-menu li.sub-menu {
    border-color: #eee #8e8e8e #8e8e8e #eee
}

#layout-main div.anime_all div.groups td.epbar div.done,
#layout-main div.group_all div.group_released td.epbar div.done {
    background-color: #4f75e8;
    border-bottom-color: #4f75e8
}

#layout-main div.anime_all div.groups td.epbar div.notdone,
#layout-main div.group_all div.group_released td.epbar div.notdone {
    background-color: #c3cfff;
    border-bottom-color: #c3cfff
}

#layout-main div.anime_all div.groups td.epbar div.done.mylist,
#layout-main div.group_all div.group_released td.epbar div.done.mylist {
    border-bottom-color: #7ef27e
}

#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.profile div strong,
#layout-main div.g_bubble.code,
#layout-main div.g_bubble.quotebody,
#layout-main div.g_bubble.showhidecontent,
#layout-tabs ul.main-tabs li.selected a,
#layout-tabs ul.main-tabs li:hover a {
    color: #000
}

#layout-main div.addsimilaranime_all div.addsimilaranime_entries div.profile div {
    color: #666
}

#layout-main div.forum .g_bubble.infobox div.data p.subtitle,
#layout-main div.forum .g_bubble.infobox h3 {
    border-bottom-color: #7d7d7d
}

.g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody {
    background-color: #e6e4d1 !important
}

.g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody,
.g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody .g_bubble.quotebody {
    background-color: #f0edd5 !important
}

#layout-main div.main_all div.g_section>h2 {
    background-color: #34394d;
    color: #ddd;
    border-color: #eee #8e8e8e #8e8e8e #eee
}

#layout-main .g_account ul.tabs li {
    border-top-color: #9a9a9a;
    border-left-color: #9a9a9a;
    border-right-color: #7d7d7d
}

#layout-main .g_account ul.tabs li,
#layout-main .g_account ul.tabs li.signup:hover {
    background-color: #cfd1d4;
    border-bottom-color: #cfd1d4
}

#layout-main .g_account ul.tabs li.signup a {
    color: #cfd1d4
}

#layout-main div.main_all div.news.forum div.latestnews div.posted {
    color: #444
}

#layout-main div.forum div.g_bubble.rules {
    background-color: #ecd5d8;
    color: #bc2a4d;
    border-color: #debfc3 #c4939f #c4939f #debfc3
}

#layout-tabs ul.main-tabs>li.selected,
#layout-tabs ul.main-tabs>li:hover {
    border-bottom-color: #cfd1d4
}

#layout-tabs ul.main-tabs>li {
    border-bottom-color: #34394d
}

.tooltip span.text,
#imagepreview {
    background-color: #d3d5d9 !important;
    color: #000;
    box-shadow: 0 8px 4px 0 rgba(0, 0, 0, 0.2);
    opacity: .95
}

.tooltip span.text::after,
.tooltip span.text::before {
    border-color: rgba(211, 213, 217, 0);
    border-bottom-color: #d3d5d9
}

#layout-search ul.quicksearch {
    border-color: #34394d
}

#layout-search ul.quicksearch li.focus,
#layout-search ul.quicksearch li:hover {
    background-color: #bbb
}

#layout-main div.tag-column div.tag[data-anidb-weight="0"] .name a {
    color: rgba(0, 0, 0, 0.7)
}

#layout-main div.tag-column div.tag.abstract[data-anidb-weight="0"] .name a,
#layout-main div.tag-column span.not_added a {
    color: rgba(0, 0, 0, 0.5)
}

#layout-main div.chartag-list span.size0 a,
#layout-main div.chartag-list span.size1 a,
#layout-main div.tag-column div.tag[data-anidb-weight="100"] .name a {
    color: rgba(16, 82, 137, 0.5)
}

#layout-main div.chartag-list span.size2 a,
#layout-main div.tag-column div.tag[data-anidb-weight="200"] .name a {
    color: rgba(16, 82, 137, 0.6)
}

#layout-main div.chartag-list span.size3 a,
#layout-main div.tag-column div.tag[data-anidb-weight="300"] .name a {
    color: rgba(16, 82, 137, 0.7)
}

#layout-main div.chartag-list span.size4 a,
#layout-main div.chartag-list span.size5 a,
#layout-main div.tag-column div.tag[data-anidb-weight="400"] .name a {
    color: rgba(16, 82, 137, 0.8)
}

#layout-main div.chartag-list span.size6 a,
#layout-main div.chartag-list span.size7 a,
#layout-main div.tag-column div.tag[data-anidb-weight="500"] .name a {
    color: rgba(16, 82, 137, 1)
}

#layout-main div.chartag-list span.size10 a,
#layout-main div.chartag-list span.size8 a,
#layout-main div.chartag-list span.size9 a,
#layout-main div.tag-column div.tag[data-anidb-weight="600"] .name a {
    color: rgba(16, 82, 137, 1)
}

#layout-main div.tag-column div.tag[data-anidb-weight="100"] .weight {
    opacity: .3
}

#layout-main div.tag-column div.tag[data-anidb-weight="200"] .weight {
    opacity: .4
}

#layout-main div.tag-column div.tag[data-anidb-weight="300"] .weight {
    opacity: .6
}

#layout-main div.tag-column div.tag[data-anidb-weight="400"] .weight {
    opacity: .8
}

#layout-main div.chartag-list a:hover,
#layout-main div.tag-column a:hover {
    color: #800 !important;
    opacity: 1 !important
}

#layout-search select {
    box-shadow: 0 1px 2px #8e8e8e inset
}

#layout-menu li.sub-menu li+li {
    border-top-color: #454959
}

#layout-main .episodes tr.newtype td,
#layout-main .staffblock+.staffblock table {
    border-top-color: #34394d
}

#layout-menu li.sub-menu ul li.main a:hover {
    background-color: transparent;
    background-image: none
}

#layout-main div.cmt_all div.cmt_add hr,
#layout-main div.postbody hr {
    background-color: #777
}

#layout-main div.forum hr {
    background-color: #9a9a9a
}

.ajax-file-upload:hover {
    opacity: .6
}

tr,
#layout-main div.anime_all div.data table.relationlist tr,
#layout-main div.report_all div.tabbed_pane div.body div.pane ul li,
#layout-main div.tabbed_pane div.body div.pane ul li:not(.row) .g_odd,
#layout-main div.tabbed_pane div.body div.pane ul.contribute li,
#preferences div.tabbed_pane div.body div.pane ul li {
    background-color: inherit
}

.select2-container--default .select2-selection--multiple .select2-selection__placeholder,
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: #aaa
}

::-webkit-input-placeholder {
    color: #aaa;
    opacity: 1
}

::-moz-placeholder {
    color: #aaa;
    opacity: 1
}

::-ms-input-placeholder {
    color: #aaa;
    opacity: 1
}

::-moz-placeholder {
    color: #aaa;
    opacity: 1
}

::placeholder {
    color: #aaa;
    opacity: 1
}

.g_button a {
    background-color: #fa5;
    color: #000;
    border-color: #fd0 #ff4d00 #ff4d00 #fd0
}

.g_button a:hover {
    background-color: #f90;
    color: #444 !important
}

button,
input[type=button],
input[type=submit],
#layout-main div.edit_actions>span>*,
#layout-main ul.g_list li,
#layout-main ul.g_list li.g_odd {
    color: #ccc;
    background-color: #34394d;
    border-color: #34394d
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
#layout-main div.edit_actions>span>*:hover,
#layout-main div.pagination span a:hover,
#layout-main div.pagination span strong,
#layout-main ul.g_list li.g_odd.selected,
#layout-main ul.g_list li.g_odd:hover,
#layout-main ul.g_list li.selected,
#layout-main ul.g_list li.selected .i_icon,
#layout-main ul.g_list li:hover {
    color: #c0daf0 !important
}

#layout-main ul.g_list li:hover a {
    color: inherit
}

#layout-main div.calendar_all .g_section.middle div.g_section.content.today .g_bubblewrap.g_bubble.container {
    background-color: #919ba1
}

.highcharts-axis-line,
.highcharts-tick {
    stroke: #777
}

.highcharts-grid-line {
    stroke: #999
}

.highcharts-axis-labels {
    fill: #000
}

.highcharts-pie-series .highcharts-point {
    stroke: #cfd1d4
}

.wysibb,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.wbb-smilebox .wbb-list,
.wysibb.g_bubble,
#wbbmodal .div-modal-text {
    border-color: #34394d !important;
    background-color: #34394d;
    color: #ccc
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-inner {
    color: #ccc;
    text-shadow: none
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on span.btn-inner {
    color: #000
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:hover {
    background-color: transparent
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn span.btn-inner:hover,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn:hover .fonticon {
    color: #fff
}

.wysibb .wysibb-toolbar,
.wysibb .wysibb-toolbar .wysibb-toolbar-container {
    border-color: #999
}

.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on,
.wysibb .wysibb-toolbar .wysibb-toolbar-container .wysibb-toolbar-btn.on:hover {
    background-color: #999
}

#wbbmodal .wbbm,
#wbbmodal .wbbm-bottom,
#wbbmodal .wbbm-content,
#wbbmodal .wbbm-title {
    border-color: #9a9a9a #7d7d7d #7d7d7d #9a9a9a;
    background-color: #cfd1d4;
    color: #000
}

.wysibb .wysibb-text a {
    color: #fff
}

.i_mylist_add::before,
.i_mylist_delete::before,
.i_mylist_edit::before,
.i_tv_special::before,
.i_wishlist_add::before,
.i_wishlist_delete::before,
.i_wishlist_edit::before {
    text-shadow: .07em .07em 0 #cfd1d4, -0.07em -0.07em 0 #cfd1d4, .07em -0.07em 0 #cfd1d4, -0.07em .07em 0 #cfd1d4, .07em .07em 0 #cfd1d4
}

.g_filter .flap {
    box-shadow: 0 1px 3px #666;
    opacity: .9
}

#layout-main *:not(.g_definitionlist)>table>tbody>tr:not(.files):not(.episodes)>td::after,
#layout-main div.forum ul.topics li.row:hover::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
}

@media screen and (max-width: 800px) {
    #layout-main .g_datatable table tr {
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4)
    }

    #layout-main .g_datatable table tr td.name.main {
        background: #444 !important;
        color: #fff
    }

    #layout-main .g_datatable table tr td.name.main .i_info::after,
    #layout-main .g_datatable table tr td.name.main a {
        color: #ddd
    }
}

#layout-main div.tabbed_pane div.body {
    margin-top: 1px
}

.g_button a {
    padding: 2px 8px
}

#layout-menu li.sub-menu ul li a,
#layout-menu li.sub-menu ul li.user-xkeep label span {
    color: #000
}

.g_button a:hover,
h4 a:hover,
table th.sortable:hover:not(.sorter-false),
th a:hover {
    color: #c0daf0 !important
}

#layout-main div.userpage_all div.g_menu ul li:hover,
#layout-main div.userpage_all div.g_menu ul li:hover .v_high,
#layout-main div.userpage_all div.g_menu ul li:hover a {
    color: #ddd !important
}

#layout-main div.userpage_all .g_section.achievements>.container>.container,
#layout-menu .sub-menu {
    background-color: inherit !important
}

.g_button a {
    background-color: #34394d;
    border-color: #34394d
}

#layout-main .staffblock+.staffblock table {
    border-color: #34394d !important
}

.g_button a,
th,
th a {
    color: #ccc
}

.g_button a,
.i_resource_patreon_button,
button,
input[type=button],
input[type=submit],
#layout-main div.addfilem.form div.dump textarea,
#layout-main div.calendar_all .date_selector input.year,
#layout-main div.calendar_all .date_selector select,
#layout-main div.edit_actions>span>*,
#layout-main div.forum div.quickreply textarea,
#layout-main div.pagination span a,
#layout-main div.pagination span strong,
#layout-main ul.g_list li,
#layout-main ul.g_list li.g_odd,
#layout-search input.text,
#layout-search select {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.3)
}

.g_bubble,
#layout-content,
#layout-hint,
#layout-main>h1,
#layout-main div.g_msg,
#layout-main div.g_timedentry h4,
#layout-main div.userpage_all div.g_menu ul,
#layout-menu li.sub-menu span.tab,
#layout-menu li.sub-menu ul {
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4)
}

#layout-main div.tabbed_pane ul.tabs li,
#layout-tabs ul.main-tabs>li {
    box-shadow: 2px -2px 2px -1px rgba(0, 0, 0, 0.2)
}

#layout-main .g_account ul.tabs li {
    box-shadow: 0 -2px 3px 0 rgba(0, 0, 0, 0.2)
}

#layout-search input.text.focus,
#layout-search input.text.focus+select,
#layout-search ul.quicksearch .g_bubble.stripe {
    box-shadow: none
}

.g_button a:hover,
#layout-main div.userpage_all div.g_menu ul li.g_odd:hover,
#layout-main div.userpage_all div.g_menu ul li:hover,
#layout-menu li.sub-menu ul li:hover {
    background-color: #505862
}

#layout-menu li.sub-menu span.tab,
#layout-menu li.sub-menu ul li:hover,
#layout-menu li.sub-menu ul li:hover a,
#layout-menu li.sub-menu ul li:hover a::before {
    color: #ddd;
    background-color: #34394d
}

#layout-main div.userpage_all div.g_menu ul,
#layout-main div.userpage_all div.g_menu ul li.g_odd,
#layout-menu li.sub-menu ul {
    background-color: #bdbfc3
}

.i_general_unverify::before,
.i_mylist_add::before,
.i_mylist_delete::before,
.i_mylist_edit::before,
.i_seen_yes.add::before,
.i_tv_special::before,
.i_wishlist_add::before,
.i_wishlist_blacklist::before,
.i_wishlist_buddy::before,
.i_wishlist_delete::before,
.i_wishlist_edit::before,
.i_wishlist_toget::before,
.i_wishlist_towatch::before,
.i_wishlist_undefined::before {
    text-shadow: .07em .07em 0 #cfd1d4, -0.07em -0.07em 0 #cfd1d4, .07em -0.07em 0 #cfd1d4, -0.07em .07em 0 #cfd1d4, .07em .07em 0 #cfd1d4
}

#layout-main div.main_all div.g_section>h2 {
    background-color: inherit;
    color: inherit;
    border-color: #9a9a9a
}

#layout-main .g_account ul.tabs li,
#layout-main .g_account ul.tabs li.signup:hover {
    border-color: #cfd1d4
}

#layout-main div.info div.extra div h2 {
    background-color: inherit
}

#layout-main div.info div.extra div h2 {
    color: inherit
}

#layout-main *:not(.g_definitionlist)>table>tbody>tr:not(.files):not(.episodes)>td::after,
#layout-main div.forum ul.topics li.row:hover::after {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2))
}


@media all and (max-width: 950px) {

    #polymath(.nodropdownmenu) #layout-content,
    #polymath(.nodropdownmenu) #layout-main {
        min-height: 0
    }

    #polymath(.nodropdownmenu) #layout-content {
        margin-left: 0;
        margin-top: 7em;
        padding-left: .5em
    }

    #polymath(.nodropdownmenu) #layout-menu {
        display: inline-block;
        height: 31px;
        margin-left: .8em;
        width: auto;
        padding-top: 0
    }

    #polymath(.nodropdownmenu) #layout-menu>li {
        display: block;
        float: left;
        font-weight: 700;
        line-height: 20px;
        padding: 0 1.3em
    }

    #polymath(.nodropdownmenu) #layout-menu>li ul {
        border-top: 0;
        visibility: hidden;
        font-weight: 400;
        line-height: normal;
        margin-left: -1.3em;
        margin-top: 31px;
        padding: 0;
        position: absolute;
        width: 144px
    }

    #polymath(.nodropdownmenu) #layout-menu a {
        display: inline-block;
        padding: 3px 8px
    }

    #polymath(.nodropdownmenu) #layout-menu a.history {
        padding: 3px 0
    }

    #polymath(.nodropdownmenu) #layout-menu li.sub-menu span.tab {
        display: inline;
        float: right;
        cursor: pointer;
        padding: .5em 0
    }

    #polymath(.nodropdownmenu) #layout-menu>li.sub-menu.touched ul,
    #polymath(.nodropdownmenu) #layout-menu>li.sub-menu:active ul,
    #polymath(.nodropdownmenu) #layout-menu>li.sub-menu:focus ul,
    #polymath(.nodropdownmenu) #layout-menu>li.sub-menu:hover ul {
        visibility: visible
    }

    #polymath(.nodropdownmenu) #layout-menu li.sub-menu ul li a {
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        height: 28px
    }

    #polymath(.nodropdownmenu) #layout-main {
        margin-left: .5em;
        margin-top: 1em
    }

    #polymath(.nodropdownmenu) #layout-search,
    #polymath(.nodropdownmenu) #layout-search div.search {
        height: 70px
    }

    #polymath(.nodropdownmenu) #layout-menu {
        margin-top: 7.5em
    }

    #polymath(.nodropdownmenu) #layout-menu li.sub-menu ul li.alert {
        height: 28px
    }

    #polymath(.nodropdownmenu) #layout-menu li.sub-menu {
        margin-bottom: 0;
        cursor: pointer
    }

    #polymath(.nodropdownmenu) #layout-menu li.sub-menu ul li.main a {
        margin-top: -12.7em;
        visibility: visible;
        height: 75px;
        padding: 0
    }

    #polymath(.nodropdownmenu) #layout-nav {
        margin-top: 0;
        height: 76px
    }

    #polymath(.nodropdownmenu) #layout-hint+#layout-nav {
        height: 96px
    }

    #polymath(.nodropdownmenu) #layout-hint+#layout-nav #layout-menu {
        margin-top: 9.5em
    }

    #polymath(.nodropdownmenu) #layout-menu {
        box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
        background-color: #34394d
    }

    #polymath(.nodropdownmenu) #layout-menu li.sub-menu span.tab {
        color: #ddd !important;
        box-shadow: none
    }

    #polymath(.nodropdownmenu) #layout-menu li.sub-menu+li.sub-menu {
        border-left: 1px solid #999 !important
    }

    #polymath(.nodropdownmenu) #layout-menu li.sub-menu:hover {
        background-color: #58636e !important
    }

    #polymath(.nodropdownmenu) #layout-menu li.sub-menu:hover span.tab {
        color: #c0daf0 !important;
        background-color: #58636e
    }
}

@media screen and (max-width: 950px) {
    #polymath(.nodropdownmenu) #layout-content {
        margin-top: 9.75em
    }

    #polymath:not(.nodropdownmenu) #layout-search div.search a.advsearch {
        display: none
    }

    #polymath(.nodropdownmenu) #layout-search .text {
        width: calc(100% - 17em);
        margin-left: 1em
    }

    #polymath:not(.nodropdownmenu) #layout-search div.search form>div {
        top: 7.25em;
        width: calc(100% - .5em);
        left: -0.5em
    }

    #polymath:not(.nodropdownmenu) #layout-search ul.quicksearch {
        margin: .1em 0 0 1.4em !important;
        width: calc(100% - 1.5em);
        max-width: none
    }

    #polymath:not(.nodropdownmenu) #layout-search ul.quicksearch .g_bubble.stripe {
        max-width: none
    }

    #polymath:not(.nodropdownmenu) #layout-menu {
        margin-top: 10.75em
    }

    #polymath:not(.nodropdownmenu) #layout-menu>li ul {
        padding-top: .5em
    }

    #polymath:not(.nodropdownmenu) #layout-menu li.sub-menu ul li.main a {
        width: calc(100vw - 1.5em)
    }

    #polymath:not(.nodropdownmenu) #layout-hint+#layout-nav #layout-menu {
        margin-top: 12.25em
    }

    #polymathb:not(.nodropdownmenu) #layout-content #layout-main div.g_content {
        min-height: 0
    }
}

@media screen and (max-width: 600px) {
    #polymath:not(.nodropdownmenu) #layout-menu>li ul {
        width: 10.1em
    }

    #polymath:not(.nodropdownmenu) #layout-menu>li ul#menu-account {
        margin-left: -4em
    }

    #polymathb:not(.nodropdownmenu) #layout-menu li.sub-menu ul li>a span,
    #polymath:not(.nodropdownmenu) #layout-menu li.sub-menu ul li>span {
        padding: 0 5px
    }

    #polymath:not(.nodropdownmenu) #layout-menu a {
        padding: 3px 5px
    }

    #polymath:not(.nodropdownmenu) #layout-menu li.sub-menu .alert>span a {
        margin-right: -0.75em
    }

    #polymath:not(.nodropdownmenu) #layout-menu li.sub-menu.mod {
        display: none
    }
}

@media screen and (max-width: 500px) {
    #polymath:not(.nodropdownmenu) #layout-menu li.sub-menu.terms {
        display: none
    }
}

@media screen and (max-width: 400px) {
    #polymath:not(.nodropdownmenu) #layout-menu li.sub-menu.support {
        display: none
    }
}

